{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "@routes": "./src/routes",
                    "@controllers": "./src/controllers",
                    "@logics": "./src/logics",
                    "@models": "./src/models",
                    "@middlewares": "./src/middlewares",
                    "@core": "./src/core",
                    "@workers": "./src/workers"
                }
            }
        ]
    ],
    "sourceMaps": "inline",
    "retainLines": true
}
