*.bak
target/
.settings/

*.project
*.gitignore
*.prefs
*.classpath
*.jsdtscope

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.settings
*.classpath
*.gitignore
*.class
bin/
target/
/iiap-document/
/iPOS/
*.project
pom.properies
*.MF
SourceCode/WebServer/out/

logs

# Ignore Gradle project-specific cache directory
.gradle

build
SourceCode/WebServer/.idea/
