{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "@routes": "./src/routes",
                    "@controllers": "./src/controllers",
                    "@models": "./src/models",
                    "@middlewares": "./src/middlewares",
                    "@utils": "./src/utils"
                }
            }
        ]
    ]
}
