{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "@constants": "./src/constants",
                    "@core": "./src/core",
                    "@handlers": "./src/handlers",
                    "@pools": "./src/pools",
                    "@services": "./src/services",
                    "@workers": "./src/workers"
                }
            }
        ]
    ]
}